.position-left {
    text-align: left;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 10px;
}

.color-background {
    background-color: white;
}

.linea {
    border-top: 1px solid rgb(226, 224, 224);
    height: 2px;
    max-width: auto;
    padding: 0;
    margin: 10px auto 15px auto;    
}

