.personal-brand-1 {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-underline-position: auto;
    text-shadow: grey 0.1em 0.1em 0.2em;
}

.icons-position {
    font-size: 35px;
    color: black;
    text-align: center;
}
