.personal-brand {
    font-family: 'Pacifico', cursive;
    font-size: 55px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
  }

.navbar-inner {
    text-shadow: black 0.1em 0.1em 0.2em;
}
