@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400&display=swap');

body {
  background-color: #e9e8e8 !important;
  font-family: 'Fira Sans', sans-serif;
}

.body-style {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  background-color:#e9e8e8 !important;
  width: 100%;
  height: 100%;
}

nav.navbar {
  background-color: #1f2450;
}

.color-background {
  top: 20px;
  background-color: #e9e8e8;
}

.image-aboutMe {
  width: 100%;
  height: 100%;
}

.icons-position {
  font-size: 35px;
  color:  #1f2450;
  text-align: center;
}

.position-left {
  text-align: left;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 10px;
}

.linea {
  border-top: 1px solid rgb(124, 122, 122);
  height: 2px;
  max-width: auto;
  padding: 0;
  margin: 10px auto 15px auto;    
}

img .image-card {
  object-fit: cover;
}

/* Carousell */
.size-carousel {
  width: 100%;
  height: 40%;
}

.size-carousel Image {
  width: 100%;
  height: 100%;
}

/* NavBarTop - Menu  */
.nav a:hover {
  color: #522076 !important;
  border-bottom-color: rgba(255,255,255,0.4);
  text-decoration: none;
}

.navbar-light .navbar-brand {
  font-family: 'Pacifico', cursive;
  color: whitesmoke !important;
  font-size: 25px;
  text-shadow: gray 0.1em 0.1em 0.2em;
} 

.navbar-light .navbar-nav .nav-link  {
  color: whitesmoke !important;
  text-shadow: gray 0.1em 0.1em 0.2em;
}

.navbar-toggler {
  color: whitesmoke !important;
  border-color: #f8f9fa;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: whitesmoke !important;
  border: 1px solid whitesmoke;
  border-radius: .25rem;
}

/* Header Section  */
.personal-brand-1 {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-underline-position: auto;
  text-shadow: grey 0.1em 0.1em 0.2em;
}

.icons-position {
  font-size: 35px;
  text-align: center;
}

.header-position {
  margin-top: 200px;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .image-navbar {
    background-image: url(images/image_header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    margin-top: 0px;
    padding: 0px;
  }

  .header-position {
    margin-top: 60px;
  }

  .text-image-navbar {
    font-weight: 300;
    margin-top: 0%;
    text-align: center center;
  }

  .width-height-contact {
    width: 100%;
    height: 840px;
  }
}

@media only screen and (min-width: 1025px) {
  .image-navbar {
    background-image: url(images/image_header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 860px;
    margin-top: 55px;
  }

  .width-height-contact {
    width: 100%;
    height: 880px;
  }
}

.image-navbar .navbar {
  background-color: transparent !important;
}

.image-position {
  text-align: center;
}

/* Footer - Pie de pagina */
.sticky-footer {
  flex-shrink: none;
  background-color: #1f2450;
  color: #1f2450;
}

/* Color botones en general */
.btn-custom-color {
  border-color: #1f2450;
  background: #1f2450;
  color: whitesmoke;
  border-radius: 3px;
  padding: 5px 10px;
}